<component name="ArtifactManager">
  <artifact type="war" name="spring-examen-vraag2:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-examen-vraag2-0.0.1.war">
      <element id="artifact" artifact-name="spring-examen-vraag2:war exploded" />
    </root>
  </artifact>
</component>